<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neutron.youchat_backend.mapper.FriendsMapper">

    <!--Integer addFriends(Friends friends);-->
    <insert id="addFriends">
        INSERT INTO youchat.user_friends(user_id, friends_id)
        VALUES
            (#{userId}, #{friendsId}),
            (#{friendsId}, #{userId})
    </insert>

    <!--Integer deleteFriends(Friends friends);-->
    <delete id="deleteFriends">
        DELETE
        FROM youchat.user_friends
        WHERE user_id = #{userId}
            OR user_id = #{friendsId}
    </delete>
</mapper>