<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neutron.youchat_backend.mapper.SingleChatMapper">

    <!--Integer addMsgUserSend(SingleChat singleChat);-->
    <insert id="addMsgUserSend">
        INSERT INTO youchat.single_chat(user_friends_id, send_time, content)
        VALUES (#{userFriendsId}, NOW(), #{content})
    </insert>

    <!--List<SingleChat> querySingleMsg(Integer userId);-->
    <select id="querySingleMsg" resultType="com.neutron.youchat_backend.entity.SingleChat">
        SELECT s.id, s.user_friends_id, s.send_time, s.content, u.user_id, u.friends_id
        FROM youchat.single_chat s
                 LEFT JOIN youchat.user_friends u
                           ON s.user_friends_id = #{userFriendsId} AND u.id = #{userFriendsId}
        UNION
        SELECT sc1.id, sc1.user_friends_id, sc1.send_time, sc1.content, uf1.user_id, uf1.friends_id
        FROM youchat.single_chat sc
                 RIGHT JOIN youchat.user_friends uf
                            ON sc.user_friends_id = uf.id
                 RIGHT JOIN youchat.user_friends uf1
                            ON uf1.user_id = uf.friends_id AND uf1.friends_id = uf.user_id
                 RIGHT JOIN youchat.single_chat sc1
                            ON sc1.user_friends_id = uf1.id
        ORDER BY send_time
    </select>

    <!--Integer queryUserFriendsId(Friends friends);-->
    <select id="queryUserFriendsId" resultType="java.lang.Integer">
        SELECT id
        FROM youchat.user_friends
        WHERE user_id = #{userId} AND friends_id = #{friendsId}
           OR user_id = #{friendsId} AND friends_id = #{userId}
    </select>
</mapper>