<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neutron.youchat_backend.mapper.SingleChatMapper">

    <!--Integer addMsgUserSend(SingleChat singleChat);-->
    <insert id="addMsgUserSend">
        INSERT INTO youchat.single_chat(user_friends_id, send_time, content, senderId)
        VALUES (#{userFriendsId}, NOW(), #{content}, #{userId})
    </insert>

    <!--List<SingleChat> querySingleMsg(Integer userFriendsId);-->
    <select id="querySingleMsg" resultType="com.neutron.youchat_backend.entity.SingleChat">
        SELECT s.id,
               s.user_friends_id,
               s.send_time,
               s.content,
               s.senderId,
               uf.user_id,
               u.username,
               uf.friends_id,
               u1.username as friendsName
        FROM youchat.single_chat s,
             youchat.user_friends uf,
             youchat.user u,
             youchat.user u1
        WHERE s.user_friends_id = #{userFriendsId}
          AND uf.id = #{userFriendsId}
          AND s.senderId = uf.user_id
          AND uf.user_id = u.id
          AND uf.friends_id = u1.id
        UNION
        SELECT s.id,
               s.user_friends_id,
               s.send_time,
               s.content,
               s.senderId,
               uf.friends_id as userId,
               u3.username,
               uf.user_id    as friendsId,
               u2.username   as friendsName
        FROM youchat.single_chat s,
             youchat.user_friends uf,
             youchat.user u2,
             youchat.user u3
        WHERE s.user_friends_id = #{userFriendsId}
          AND uf.id = #{userFriendsId}
          AND s.senderId = uf.friends_id
          AND uf.user_id = u2.id
          AND uf.friends_id = u3.id
        ORDER BY send_time
    </select>

    <!--Integer queryUserFriendsId(Friends friends);-->
    <select id="queryUserFriendsId" resultType="java.lang.Integer">
        SELECT id
        FROM youchat.user_friends
        WHERE user_id = #{userId} AND friends_id = #{friendsId}
           OR user_id = #{friendsId} AND friends_id = #{userId}
    </select>
</mapper>